a {
    color: #00539f;
    text-decoration: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    background-color: #f8fcfd;
}