---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Gretting from "@/components/Gretting"

const pageTitle = "首页"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>我超棒的博客副标题</h2>
	<Gretting client:idle messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
