---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import "@/styles/globals.css"

const { pageTitle = "未定义" } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<slot />
		<Footer />
	</body>
</html>
